#root {
 font-family: "Roboto", sans-serif;
 color: grey;
 margin: 0 0px 0 100px;
 padding: 0;
 text-align: center;
 width: 90vw;
}
/* * {
 border: solid red 1px;
} */
html {
 max-width: 99vw;
}
.sidebar {
 display: none;
}
button {
 background-color: black;
 color: white;
 padding: 5px;
 border-radius: 5px;
 position: relative;
 bottom: 50px;
}
button:hover {
 background-color: white;
 color: black;
}
a {
 text-decoration: none;
}
a:visited {
 color: inherit;
}
h1 {
 margin: 0 auto;
}
div {
 width: 100%;
}
.loader {
 width: 100%;
 height: 500px;
 margin: 100px auto;
}
.divider {
 width: 50%;
 margin: 10px auto;
 padding: 0;
 border-bottom: solid black 1px;
}
.navbar {
 position: fixed;
 top: 0;
 left: 0;
 height: 100%;
 width: 100px;
 background-color: black;
 transition: all 0.3s ease;
 z-index: 5;
}
nav {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 height: 500px;
}
a:visited {
 text-decoration: none;
}
a {
 text-decoration: none;
}
.nav-link {
 color: rgb(170, 170, 170);
 padding: 20px 0;
}
.nav-link:hover {
 color: black;
 background-color: rgb(240, 255, 255);
 transition: background-color 1s ease;
}
.navbar:hover {
 width: 300px;
 transition: all 0.5s ease;
 font-size: 25px;
}
.menu-logo {
 width: 60px;
 margin: 0 auto;
}

.logo-header {
 height: 100px;
}
.champ-list {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 list-style: none;
 justify-content: space-between;
 width: 90%;
 margin: 0 auto;
 animation-name: slide-up;
 transition: 0.5s ease-in-out;
 animation-duration: 1s;
}

@keyframes slide-up {
 from {
  translate: 0px 150px;
  opacity: 0;
 }
 to {
  translate: 0 0;
  opacity: 100;
 }
}
.champ-card {
 margin: 10px 20px;
 border: solid black 1px;
 width: 200px;
 height: 200px;
 filter: grayscale(0);
 transition: 0.5s ease-in-out;
 box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
  rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.champ-card:hover .champ-img {
 filter: grayscale(1) brightness(0.4);
 transition: 0.5s ease-in-out;
}
.champ-card:hover .champ-title {
 opacity: 100;
 transition: 0.5s ease-in-out;
}
.champ-name {
 position: absolute;
 width: 200px;
 margin: 0 auto;
 padding: 0;
 color: white;
 z-index: 5;
 background-color: rgba(0, 0, 0, 0.562);
}

.champ-img {
 width: 100%;
 height: 200px;
 transition: 0.5s ease-in-out;
}
.champ-title {
 position: absolute;
 text-align: center;
 color: white;
 width: 100px;
 margin: 30px auto;
 padding: 50px;
 opacity: 0;
 transition: 0.5s ease-in-out;
 z-index: 5;
}
.carousel-container {
 width: 1000px;
 margin: -10px auto;
}
.skin-image-container {
 width: 100%;
 margin: 0 auto;
}
.back-to-champs {
 margin: -30px auto 0 0;
 display: flex;
 align-items: flex-start;
}
.single-champ-name {
 font-size: 50px;
 margin: 10px auto;
 color: rgb(0, 0, 0);
}
.single-champ-lore {
 margin: 0 auto 10px;
 width: 90%;
}
.stats-container {
 width: 100%;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.attack-border,
.defense-border,
.magic-border,
.difficulty-border {
 border: black solid 1px;
}
.red,
.blue,
.purple,
.grey {
 text-align: left;
 line-height: 24px;
 color: rgb(0, 0, 0);
}
.red {
 height: 24px;
 background-color: rgb(252, 61, 36);
}
.blue {
 height: 24px;
 background-color: #08d7f7;
}
.purple {
 height: 24px;
 background-color: rgb(190, 90, 190);
}
.grey {
 height: 24px;
 background-color: rgb(5, 202, 5);
}
.class-stats {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 width: 90%;
}
.champ-spells {
 margin: 40px auto;
 width: 80%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.single-spell {
 box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
  rgba(0, 0, 0, 0.07) 0px 16px 16px;
 width: 150px;
}
.spell-img {
 width: 100px;
}

@media only screen and (max-width: 1200px) {
 .navbar {
  display: none;
 }
 #root {
  font-family: "Roboto", sans-serif;
  color: grey;
  margin: 0 0px 0 0;
  padding: 0;
  text-align: center;
  width: 100vw;
 }
 .logo-header {
  height: 70px;
 }
 .sidebar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 }
 .sidebar-menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 5;
  animation-name: slide;
  animation-duration: 0.5s;
 }
 .side-menu-show {
  animation-name: slidein;
  animation-duration: 0.5s;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 5;
 }
 .side-menu-hidden {
  translate: -100% 0;
  animation-name: slideout;
  animation-duration: 0.5s;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 5;
 }

 @keyframes slidein {
  from {
   translate: -100% 0;
   opacity: 0;
  }
  to {
   translate: 0 0;
   opacity: 100;
  }
 }
 @keyframes slideout {
  from {
   translate: 0 0;
   opacity: 100;
  }
  to {
   translate: -100% 0;
   opacity: 0;
  }
 }
 .hamburger-react {
  z-index: 6;
 }
 .champ-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  animation-name: slide-up;
  transition: 0.5s ease-in-out;
  animation-duration: 1s;
 }
 .champ-card {
  margin: 10px 10px;
  border: solid black 1px;
  width: 100px;
  height: 100px;
  filter: grayscale(0);
  transition: 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
   rgba(0, 0, 0, 0.07) 0px 16px 16px;
 }
 .champ-title {
  display: none;
 }
 .champ-name {
  position: absolute;
  width: 100px;
  margin: 0 auto;
  padding: 0;
  color: white;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.562);
 }
 .champ-img {
  width: 100%;
  height: 100px;
  transition: 0.5s ease-in-out;
 }
 .carousel-container {
  width: 95vw;
  margin: 30px 0;
 }
 .single-champ-lore {
  width: 95vw;
 }
 button {
  display: none;
 }
 .class-stats {
  display: flex;
  flex-direction: column;
 }
 .stats-container {
  width: 80%;
 }
 .attack-border,
 .defense-border,
 .magic-border,
 .difficulty-border {
  margin: 2px auto;
 }
}
